p{
    font-size: 20px;
    font-weight: 800;
    line-height: 45px;
    font-family: 'Grape Nuts', cursive;
}

#para1{
    background-color: yellow;
    color: brown;
}

#para2{
    background-color: rgb(190, 127, 127);
    color: rgb(243, 0, 0);
}

#para3{
    background-color: rgba(62, 171, 201, 0.5);
}

.class1{
    background-color: #212121;
    color: antiquewhite;
}

.para4{
    background-color: hsl(0, 70%, 50%);
}